@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
}

/*
em HTML é id = em CSS é # (só um)
em HTML é class = em css é . (vários)
*/
#principal {
    color: rgb(14, 94, 11);
    text-align: center;
    background-color: darkgreen;
    color: white;


}

h1 {
    color:rgb(14, 94, 11) ;
}
h2{
    color: rgb(58, 172, 53);
}  

.titulo{
    background-color:rgb(57, 13, 129)  ;
    color: white;
    text-align: center;
}

.subtitulo {
    color:rgb(57, 13, 129) 
}
