@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif
    
}

p {
    text-align:justify ;
}

body {
background-image: linear-gradient(to right, #153243, #23B5D3);

}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(16, 38, 51, 0.822); 
}

h1 {
color: #008148 ;
text-align: center;
text-shadow:1px 1px 1px #006839a6;
}

h2 {
color: #511730;
}